body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #faf0ca;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 500px;
    width: 90%;
  }
  
  .card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    /* border: 2px solid black; */

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }
  
  .matrix {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  
  .matrix-number {
    background-color: #00509d;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .buttons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .buttons button:last-child {
    background-color: #f44336;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }
  
  @media (max-width: 480px) {
    .matrix {
      grid-template-columns: repeat(3, 1fr);
    }
  }